body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
}

h1{
 margin-top: 0;
 padding-top: 190px;
 font-family: "Sacramento",cursive;
 font-size: 5.625rem;
 color: #66BFBF;
}

h2{
  font-family: "Montserrat",sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
 }

.a{
 font-family: "Montserrat",sans-serif;
 position: relative;

 }

h3{
 font-family: "Montserrat",sans-serif;
 color: #11999E;
 font-size: x-large;
}

/*.para{
  align-content: left;
  margin: auto;
  width: 55%;
}*/

.top-cloud{
 top: 60px;
 position: absolute;
 right: 200px;
}

.bottom-cloud{
 position: absolute;
 top: 470px;
 left: 200px;
 bottom: 270px;
}

.topcontainer{
 padding-bottom: 340px;
 background-color:#CFF5E7; 
 height: 483px;
 width: 100%;
 position: relative;

}

.middlecontainer{

}

.bottomcontainer{
}

.profile{
 padding-top: 100px;
}
.myskills{
 margin-right: 30px;
 width: 40%;
 float: left;
}

.myskills2{
  float: right;
  margin-left: 30px;
  width: 40%;
}

.myskills3{
  float: left;
  margin-right: 30px;
  width: 40%;
}

.skill2{
  width: 100%;
  margin: 100px auto 100px auto;
}

.skill3{
  padding-top: 50px ;
  width: 100%;
  margin: 100px auto 100px auto;
}

.skill-row{
 width: 60%;
 margin: 100px auto 100px auto;
 text-align: left;
 line-height: 2;
 }

.sk{
 align-content: center;
 display: inline-block;
 font-size: 17px;
}

.sr{
 width: 7%;
 height: 1%;
 margin-top: 10px;
}

.srr{
 width: 8%;
 height: 14%;
}

.srrr{
 width: 12%;
 height: 14%;
}

.pro{
 text-decoration: underline;
}

.btn{
 display: contents;
 color: #11999E;
 line-height: 2;
}

.bottomcontainer{
 padding: auto ;
 
}

.footer-link1{
 display: contents;
 padding-right: 50px;
 color: #11999E;
}

.footer-link2{
  display: contents;
  padding-right:50px;
  color: #11999E;
 }

 .footer-link3{
  display: contents;
  padding: 50px;
  color: #11999E;
 }




 

 
